*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../media/LK.webp);
    background-size: cover;
}
.login{
    width: 500px;
    background-color: rgba(38, 37, 82, 0.9);
    margin: 10% auto;  
    padding: 25px 0;
    color: #fff;
    box-shadow: 0 0 20px 8px rgba(0, 5, 54, 0.5);
}
h1{
    text-align: center;
    margin-bottom: 40px;
}
.datos{
    margin: 31px auto;
    width: 80%;
    border-bottom: 1px solid #fff;
    padding-top: 10px;
    padding-bottom: 5px;
    color: #fff
}
.datos input{
    padding: 8px 10px;
    width: 90%;
    border: none;
    outline: none;
    background: transparent;
    color: rgb(255, 255, 255);
}
::placeholder{
    color: rgb(165, 165, 165);
}
.login_btn{
    margin:40px auto 5px;
    width: 30%;
    display: block;
    outline: none;
    padding: 10px 0;
    border: 1px solid #fff;
    cursor: pointer;
    background: transparent;
    color: #fff;
    font-size: 16px;
    border-radius: 24px;
}
.login_btn:hover{
    background: rgb(86, 93, 112);
}
p{
    font-size: 14px;
    margin: 15px;
    display: inline-block;
    color:rgb(165, 165, 165);
    padding: 5px 20px;
}