<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
        <nav>
            <ul>
                <li><a>Materias</a></li>
                <li><a>Alumnos</a></li>
                <li><a>Salones</a></li>
                <li><a>Ayuda</a></li>
            </ul>
        </nav>
    </head>